body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
    background-image: url(./erga.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1700px;
}
#clock{
    font-size: 6rem;
    color: white;
    font-family: monospace;
   
   border-radius: 15px;
   backdrop-filter: blur(45px);
}
.buttons button{
    display: block;
    background-color: red;
    position: relative;
    top: 100px;
    right: 300px;
    margin-left: 15px;
    padding: 6px;
    border-radius: 5px;
    color: white;
}
.buttons{
    display: flex;
}